.navbar-brand {
  background-color: #2E2E2E !important;
  color: #F7F7F7 !important;
}


body {
  background-color: #FCFCFC;
}

/* change all headers to use this font */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Quicksand', Sans-Serif !important;
}

p {
  color: black;
}

.panel-color {
  background-color: #F8F9FA;
}

.boxIn {
  background-color: #F8F9FA;
  box-shadow: 1px 1px 1px 1px #E0E0E0;
  border-radius: 4px;
  padding: 6px;
}

.boxInT {
  background-color: #F8F9FA;
  box-shadow: 1px 1px 1px 1px #E0E0E0;
  border-radius: 3px;
  padding: 6px;
}

.boxOut {
  box-shadow: 0px 0px 0px 1px #C0C0C0;
  border-radius: 7px;
}
        
.inputMag {
  margin-left: 3px;
}

.inputpad {
 padding-left: 4px;
 padding-right: 4px;
}

.center-div {
 display: flex;
 justify-content: center;
 align-items: center;
}

#sw-content-dropdown, .sw-dropdown-in {
  background-color: #F8F9FA;
}

.tippy-content {
  background-color: #F8F9FA; 
  border-color: #F8F9FA;
}

.bootstrap-select .dropdown-menu {
  background-color: #F8F9FA; 
}


.missing-info {
  text-align: left;
}

#select-vars-info {
  font-size: 12px;
}

#vars-id {
  font-weight: bold;
}




/*
.shiny-output-error {
  visibility: hidden;
}
.shiny-output-error:before {
  visibility: hidden;
}
*/