/* change all headers to use this font */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Quicksand', Sans-Serif !important;
}

p {
  color: black;
}

.boxIn {
 box-shadow: 1px 1px 1px 1px #C0C0C0;
 border-radius: 7px;
}

.boxInT {
 box-shadow: 1px 1px 1px 1px #C0C0C0;
 border-radius: 3px;
}

.boxOut {
 box-shadow: 0px 0px 0px 1px #C0C0C0;
 border-radius: 7px;
}
        
.inputMag {
 margin-left: 3px;
}

.inputpad {
 padding-left: 4px;
 padding-right: 4px;
}

.center-div {
 display: flex;
 justify-content: center;
 align-items: center;
}